---
extends: default

rules:
  truthy: disable
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  document-start: disable

yaml-files:
  - '*.yaml'
  - '*.yml'

ignore: |
  config/.storage/
  config/backups/
  config/deps/
  config/.cloud/
  config/tts/
  config/dashboards/
  config/blueprints/
  config/custom_components/solarman/
  config/custom_components/xiaomi_home/
  config/custom_components/ha_strava/
