---
extends: default

rules:
  truthy: disable
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  document-start: disable

yaml-files:
  - '*.yaml'
  - '*.yml'

ignore: |
  .storage/
  backups/
  deps/
  .cloud/
  tts/
  custom_components/solarman/
  custom_components/xiaomi_home/
  dashboards/
  blueprints/
