name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  validate-config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Home Assistant configuration check
        uses: frenck/action-home-assistant@v2
        with:
          path: ./config
          secrets: |
            some_api_key=${{ secrets.SOME_API_KEY }}
  test-custom-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install test deps
        run: |
          pip install -e .[test]
      - name: Run tests
        run: pytest -q
